@font-face {
  font-family: 'Cocogoose-Classic-Medium';
  src: url('./assets/fonts/Cocogoose-Classic-Medium-trial.ttf') format('truetype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Cocogoose-Classic-ExtraBold';
  src: url('./assets/fonts/Cocogoose-Classic-ExtraBold-trial.ttf') format('truetype');
  font-weight: 800;  
  font-style: normal;
}

@font-face {
  font-family: 'ImpactCustom';
  src: url('./assets/fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'KozGoPr6NRegular';
  src: url('./assets/fonts/KozGoPr6NRegular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'Cocogoose-Classic-Medium', sans-serif;
  font-weight: 200; 
}
.font-medium-kgpr{
  font-family: 'KozGoPr6NRegular', sans-serif;
  font-weight: 700;
}
.font-medium-ccm{
  font-family: 'Cocogoose-Classic-Medium', sans-serif;
}
.font-regular-ccm{
  font-family: 'Cocogoose-Classic-Medium', sans-serif;
  font-weight: 200;
}
.font-impact-regular{
  font-family: 'ImpactCustom', sans-serif;
}
.font-ebold-ccm{
  font-family: 'Cocogoose-Classic-ExtraBold', sans-serif;
}
